<!-- HTML Template -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Browsing History RAG</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-100">
        <form class="d-flex" action="/search" method="GET">
            <input class="form-control form-control-dark w-100" type="text" name="q" placeholder="Search your history..." aria-label="Search">
            <button class="btn btn-outline-light ms-2" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
</header>